html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(27, 15, 63);
}
header{
  background-color: rgb(12, 4, 37);
  width: auto;
  height: 70px;
  font-weight: bolder;
  font-size: 60px;
  color: white;
  margin-top: -15px;
  grid-area: "header";
  border-bottom: 1px;
  border-bottom-color: white;
  border-style: solid;
  margin-left: -8px;
  margin-right: -8px;
  border-left: 0px;
  border-right: 0px;
}
footer{
  margin-top: 200px;
  background-color: rgb(12, 4, 37);
  border-top: 1px;
  border-top-color: white;
  border-bottom-color: rgb(12, 4, 37);
  border-style: solid;
  margin-left: -8px;
  margin-right: -8px;
  border-left: 0px;
  border-right: 0px;
}
main{
  display: flex;
  grid-template-columns: 
  "header header",
  "conteudo igual";
  gap: 10%;
  margin-top: 30px;
}
label{
  color: rgb(192, 192, 192);
}
input{
  border-style:solid;
  border-color: white;
  border-width: 1px;
  display: block;
  height: 30px;
  font-size: large;
  color: rgb(192, 192, 192);
  background-color: rgb(24, 18, 51);
}
button{
  height: 45px;
  width: 160px;
  font-size: 25px;
  font-weight: bold;
  background-color:rgb(12, 4, 37);
  color: rgb(192, 192, 192);
  border-style:solid;
  border-color: white;
  cursor: pointer;
  border-width: 1px;
}
/*Style Class*/
.conteudo{
  grid-area: "conteudo";
  margin-left: 30px;
  font-weight: bold;
  display: grid;
  gap: 10px;
}
  .igual{
    grid-area: "igual";
    width: 50%;
    font-weight: bold;
    color: rgb(192, 192, 192);
}
.quadrado{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(192, 192, 192);
  border-radius: 10px;
  background-color: transparent;
  width: 300px;
  height: 300px;  
}
/*Style ID*/
#peso{
  width: 50px;
}
#altura{
  width: 80px;
}
#idade{
  width: 50px;
}
#namezes{
  width: 300px;
}
#pedrinho{
  width: 200px;
}
#gatinho{
  width: 50px;
  margin-left: 95%;
  margin-bottom: 1px;
}
#resultado{
  margin-top: 140px;
  text-align: center;
}
